// Client center page
.page-template-page-client-center {
    .hotlinks {
        display: grid;
        grid-gap: 20px 10px;
        .hotlink {
            border: 2px solid $primary;
            .link {
                font-weight: bold;
            }
            .img-wrap {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @include media("tablet") {
                    flex-direction: row;
                }
                .img-inner-link {
                    @include media("tablet") {
                        margin: 0 12px;
                    }
                }
            }
            .link {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $secondary;
                font-size: 18px;
                text-align: center;
                span {
                    width: 100%;
                    display: block;
                    background-color: $primary;
                    color: $white;
                    padding: 0.5rem;
                }
                img {
                    margin: 0;
                    padding: 20px 0;
                }
                .icon {
                    &.no-title {
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }
            }
        }
    }

    .lone-cta {
        margin-top: 24px;
        a {
            background-color: $primary;
            color: $white;
            font-weight: bold;
            text-transform: capitalize;
            font-size: 18px;
            border: 2px solid $blue;
            transition: all 0.3s ease;
            &:hover {
                background-color: $white;
                color: $blue;
            }
        }
    }

    .client-information {
        border: 2px solid $secondary;
        padding: 0 0 1rem;
        margin: 25px 0;
        .section-title {
            text-align: center;
            font-size: 28px;
            margin: 0 0 15px;
            color: $white !important;
            background-color: $secondary;
            padding: 0.5rem;
            font-weight: bold;
        }
        .grid {
            display: grid;
            grid-gap: 20px 10px;
        }
        .info {
            border-bottom: 2px solid $secondary;
            padding-bottom: 12px;
            &:last-child {
                border: none;
            }
            @include bp(tablet) {
                border-bottom: none;
                border-right: 2px solid $secondary;
            }
            @include bp(laptop) {
                border: none;
            }
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: $black;
                font-size: 16px;
            }
            .app-dl {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top: 12px;
                justify-content: center;
                @include bp(tablet) {
                    justify-content: space-between;
                }
                img {
                    max-width: 125px;
                    margin: 4px 0;
                }
                a {
                    display: inline-block;
                }
            }
        }
    }

    .entry-content {
        max-width: 1080px;
        padding: 1.5em;
        margin: auto;
        p {
            font-size: 18px;
        }
    }
    .app-locations {
        border-top: 3px solid #f5f5f5;
        text-align: center;
        padding: 0 1rem 2rem;

        .sub-title {
            font-size: 35px;
            text-align: center;
            margin: 2rem 0 4rem;
        }
        .app-dl {
            display: inline-block;
            margin: 1rem 0;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    @include media("phablet") {
        .app-locations {
            .app-dl {
                margin: 0 3rem 0 0;
            }
        }
    }

    @include media("tablet") {
        .hotlinks {
            grid-template-columns: 1fr 1fr;
            .hotlink {
                a {
                    font-size: 24px;
                }
            }
        }

        .client-information {
            margin-top: 50px;
            .grid {
                grid-template-columns: repeat(4, 1fr);
            }
            .info {
                a {
                    font-size: 18px;
                }
            }
        }
    }
}
