// contact page
.contact {
  .content,
  .aside {
    padding: 1rem;
  }
  .text {
    h5 {
      color: $red;
    }
    a {
      display: inline-block;
      padding: 8px 16px;
      background-color: $secondary;
      color: $white;
      margin: 10px 0;
      width: 100%;
      max-width: 290px;
      border: 2px solid $secondary;
      font-weight: bold;
      transition: all 0.4s ease;
      &:hover {
        background-color: transparent;
        color: $black;
      }
    }
    p {
      &:nth-of-type(3) {
        a {
          background-color: $primary;
          border-color: $primary;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  .aside-inner {
    a {
      display: inline-block;
      background-color: $secondary;
      color: $white;
      padding: 8px 2rem;
      border: 2px solid $secondary;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $secondary;
        background-color: transparent;
      }
    }
  }
  .title,
  .aside-title {
    color: $primary;
  }
  .sub-title {
    color: $primary;
    text-transform: capitalize;
    font-size: 30px;
    margin-top: 2.5rem;
  }
  .phone {
    color: $black;
    font-size: 25px;
  }
  .socials {
    margin-top: 1rem;
    .social-icon {
      &:hover {
        background-color: transparent;
        i {
          color: $secondary;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
    .social-icon {
      background-color: $secondary;
      color: $white;
      font-size: 1.5rem;
      margin: 0 4px;
      display: inline-block;
      transition: all 0.3s ease-in-out;
      border: 2px solid $secondary;
      border-color: $secondary;
      border-radius: 100%;
      padding: 5px;
      figure {
        width: 20px;
        height: 20px;
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        min-width: 40px;
      }
      svg {
        width: 100%;
        height: 100%;
        fill: $white;
      }
      i {
        font-size: 20px;
        min-width: 40px;
        text-align: center;
        &:hover {
          border-color: $secondary;
          background-color: transparent;
        }
      }
      &:hover {
        svg {
          fill: $secondary;
          transition: all 0.4s ease;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .map {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 350px;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .schedule-icon {
    background-color: $secondary;
    color: $white;
    font-size: 1.5rem;
    margin: 0 4px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    border: 2px solid $secondary;
    border-color: $secondary;
    border-radius: 100%;
    padding: 5px;
    figure {
      width: 20px;
      height: 20px;
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
      min-width: 40px;
      padding-top: 1px;
    }
    svg {
      width: 100%;
      height: 100%;
      fill: $white;
    }
    &:hover {
      background-color: transparent;
      svg {
        fill: $secondary;
        transition: all 0.4s ease;
      }
    }
  }

  // Newsletter section
  #gform_wrapper_4 {
    display: none;
    // form fields
    .gform_body {
      margin-top: 0;
      #gform_fields_4 {
        li {
          width: 100%;
          padding: 0;
          margin-top: 0;
        }
        input {
          width: 100%;
          margin: 0;
          border: 2px solid $secondary;
        }
        li.hide-field {
          display: none;
        }
      }
    }
    // submit button
    .gform_footer {
      text-align: center;
      margin-top: 10px;
      padding: 0;
      .gform_button {
        width: 100%;
        padding: 0.5rem 0;
        height: 95%;
        font-size: 16px;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
  @include media("tablet") {
    .content {
      padding-right: 3rem;
    }
    .aside {
      .grid-50 {
        grid-template-columns: 1fr;
      }
    }
  }
  @include media("laptop") {
    .title,
    .aside-title {
      font-size: 45px;
    }
    .aside {
      .aside-text {
        font-size: 23px;
      }
      .grid-50 {
        grid-template-columns: 1fr 1fr;
      }
    }

    #gform_wrapper_4 {
      // form fields
      .gform_body {
        #gform_fields_4 {
          display: flex;
          align-items: center;
          justify-content: center;
          li {
            padding-right: 10px;
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
      // submit button
      .gform_footer {
        .gform_button {
          width: 100%;
        }
      }
    }
  }

  @media (min-width: 1500px) {
    #gform_wrapper_4 {
      // actual form element
      #gform_4 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
      // submit button
      .gform_footer {
        max-width: 250px;
        text-align: center;
        padding: 0;
      }
    }
  }
}
