/****************************
Home Page Section
****************************/
.page-template-page-home {
    #content {
        margin-top: 0;
    }
    .banner {
        position: relative;
        overflow-x: hidden;
        width: 100vw;
        left: calc(50% - 50vw);
        @include media("tablet") {
            min-height: 400px;
        }
        @include media("2k") {
            min-height: 450px;
        }
        @media screen and (min-height: 800px) {
            // min-height: 948px;
        }

        &:before {
            display: none;
            position: absolute;
            content: "";
            background: transparent
                linear-gradient(229deg, #246db1 0%, #123759 100%) 0% 0%
                no-repeat padding-box;
            width: 100%;
            height: 100%;
            z-index: 1;
            transform: skew(-10deg, 0);
            transform-origin: top right;
            @include media("tablet") {
                display: block;
                width: 68%;
            }
            @include media("laptop") {
                width: 61%;
            }
        }
        &__img {
            position: relative;
            max-width: 125%;
            left: -75px;
            min-height: 400px;
            object-fit: cover;
            @include media("tablet") {
                position: absolute;
                width: 60%;
                height: 100%;
                top: 0;
                right: 0;
                left: unset;
                max-width: auto;
                min-height: auto;
            }
            @include media("2k") {
                object-position: top center;
            }
        }
        &__content {
            position: relative;
            z-index: 3;
            color: $white;
            background: #20629f;
            margin-top: -100px;
            padding: 24px;
            &:before {
                position: absolute;
                content: "";
                top: -30px;
                left: -10%;
                width: 110%;
                height: 60px;
                transform: rotate(4deg);
                background: #20629f;
                @include media("tablet") {
                    display: none;
                    padding: 0;
                    margin: 0;
                }
            }
            @include media("tablet") {
                background: none;
                padding: 24px 48px;
                max-width: 60%;
                margin-top: 50px;
                padding-bottom: 50px;
            }
            @include media("laptop") {
                max-width: 55%;
            }
            @include media("desktop") {
                padding: 24px 120px;
            }
            @media screen and (max-height: 800px) and (min-width: 768px) {
                margin-top: 15px;
            }
            @media screen and (min-height: 800px) and (min-width: 768px) {
                margin-top: 50px;
                padding-bottom: 50px;
                .banner__title {
                    font-size: 50px;
                }
                .banner__sub-title {
                    font-size: 38px;
                }
            }
            @include media("2k") {
                margin-top: 80px;
                padding-bottom: 80px;
                .banner__title {
                    font-size: 60px;
                }
            }
        }
        &__title {
            font-size: 45px;
            margin: 0;
            font-weight: 900;
            @include media("tablet") {
                font-size: 60px;
            }
            @include media("laptop") {
                font-size: 65px;
            }
            @include media("desktop") {
                font-size: 70px;
            }
            @include media("2k") {
                font-size: 95px;
            }
            @media (min-width: 1800px) {
                line-height: 95px;
            }
        }
        &__sub-title {
            color: inherit !important;
            font-size: 24px;
            @include media("tablet") {
                font-size: 35px;
            }
            @include media("laptop") {
                font-size: 45px;
            }
        }

        &__ctas {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            @include media("tablet") {
                margin-top: 64px;
                flex-direction: row;
            }
        }
        &__btn {
            display: inline-block;
            padding: 12px;
            background-color: $secondary;
            color: $white;
            border: 2px solid $secondary;
            border-radius: 5px;
            font-size: 16px;
            margin-right: 24px;
            font-weight: 700;
            transition: all 0.4s ease;
            width: 100%;
            margin-bottom: 24px;
            text-align: center;
            &:hover {
                background-color: transparent;
            }
            @include media("tablet") {
                width: auto;
                font-size: 20px;
                margin-bottom: 0;
                padding: 8px 32px;
            }
            @include media("laptop") {
                padding: 8px 45px;
            }
            &:nth-child(2) {
                background-color: transparent;
                border-color: $white;
                margin-right: 0;
                &:hover {
                    background-color: $white;
                    color: $black;
                }
            }
            &.has-arrow {
                position: relative;
                span {
                    position: relative;
                    left: 0;
                    transition: all 0.4s ease;
                }
                i {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 30%;
                    margin: auto;
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    transition: all 0.4s ease;
                }
                &:hover {
                    span {
                        left: -12px;
                    }
                    i {
                        right: 10%;
                        opacity: 1;
                    }
                }
            }
        }
    }
    // Section 2
    .home-values {
        text-align: center;
        background-color: #f9fafc;
        position: relative;
        width: 100vw;
        left: calc(50% - 50vw);
        padding: 24px;
        @include media("tablet") {
            padding: 24px 48px 85px;
        }
        &__title {
            font-size: 32px;
            color: $black !important;
            font-weight: bold;
            @include media("tablet") {
                font-size: 48px;
                margin: 24px 0;
            }
        }
        &__content {
            font-size: 16px;
            @include media("tablet") {
                font-size: 25px;
                max-width: 1050px;
                margin: auto;
                .home & {
                    font-size: 18px;
                    max-width: 753px;
                    margin: auto;
                }
            }
        }
        &__rows {
            gap: 25px;
            margin-top: 24px;
            grid-template-columns: 1fr;
            @include media("tablet") {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 48px;
            }
            @include media("desktop") {
                grid-template-columns: repeat(4, 1fr);
            }
            .value {
                position: relative;
                display: block;
                border: 2px dotted $primary;
                background-color: $white;
                margin: auto;
                padding: 24px;
                height: 100%;
                transition: all 0.3s ease;
                border-radius: 5px;
                width: 100%;
                @include media("tablet") {
                    padding: 42px;
                    max-width: 334px;
                }
                &:hover {
                    // border-style: solid;
                    // cursor: pointer;
                    span {
                        opacity: 1;
                    }
                }
                i {
                    font-size: 80px;
                    color: $primary;
                }
                &-title {
                    font-size: 24px;
                    font-weight: bold;
                    color: $black;
                }
                &-content {
                    font-size: 18px;
                    color: $black;
                }
                &-cta {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    text-transform: capitalize;
                    text-decoration: underline;
                    opacity: 0;
                    transition: all 0.3s ease;
                }
            }
        }
    }
    // Section 3
    .home-services {
        display: grid;
        color: $white;
        @include media("tablet") {
            grid-template-columns: repeat(2, 1fr);
        }

        &__img {
            width: 100%;
            max-height: 420px;
            object-fit: cover;
            object-position: top center;
            @include media("tablet") {
                height: 100%;
                max-height: 100%;
            }
        }

        &__info {
            padding: 34px;
            background: transparent
                linear-gradient(237deg, #123759 0%, #246db1 100%) 0% 0%
                no-repeat padding-box;
        }
        &__title {
            color: $white !important;
            font-size: 32px;
            font-weight: bold;
            @include media("tablet") {
                font-size: 42px;
            }
            @include media("laptop") {
                font-size: 55px;
            }
        }
        &__content {
            font-size: 18px;
            margin-bottom: 48px;
        }
        // Individual services
        &__services {
            display: grid;
            gap: 25px;
            @include media("tablet") {
                grid-template-columns: repeat(2, 1fr);
            }
            .service {
                a {
                    border: 2px dotted $secondary;
                    display: inline-block;
                    padding: 8px 18px;
                    color: inherit;
                    transition: all 0.3s ease;
                    height: 100%;
                    &:hover {
                        border-style: solid;
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                }
                &-title {
                    font-weight: bold;
                    font-size: 22px;
                    @include media("tablet") {
                        font-size: 18px;
                    }
                    @include media("laptop") {
                        font-size: 22px;
                    }
                }
                &-content {
                    margin-bottom: 32px;
                }
                &-cta {
                    text-transform: capitalize;
                    text-decoration: underline;
                }
            }
        }
    }

    .home-team {
        text-align: center;
        background-color: #f4f4f4;
        position: relative;
        left: calc(50% - 50vw);
        width: 100vw;
        padding: 24px 32px;
        overflow-x: hidden;
        @include media("tablet") {
            padding: 24px 48px;
        }
        &__title {
            font-size: 32px;
            color: $black !important;
            font-weight: bold;
            u {
                font-style: italic;
                margin-right: 5px;
            }
            @include media("tablet") {
                font-size: 48px;
            }
        }
        &__content {
            font-size: 18px;
            max-width: 928px;
            margin: 12px auto 32px;
        }
        &__slider {
            position: relative;
            right: -50px;
            @include media("tablet") {
                right: unset;
                max-width: 1240px;
                margin: auto;
                padding: 0 60px;
            }
            .owl-stage-outer {
                z-index: 3;
            }
            .owl-nav {
                display: none;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                @include media("tablet") {
                    display: flex;
                }
                button {
                    border-radius: 100%;
                    width: 45px;
                    height: 45px;
                    background-color: rgba(0, 0, 0, 0.3);
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;
                    outline: none;
                    position: relative;
                    z-index: 4;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.8);
                    }
                }
            }
            .owl-stage {
                margin-left: -50px;
                @include media("tablet") {
                    margin-left: 0;
                }
            }
            .team-member {
                &:hover {
                    .info {
                        box-shadow: 0px 10px 15px #8080803d;
                    }
                }
                &_img {
                    // max-width: 250px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    margin: 0;
                    @include media("tablet") {
                        max-width: 100%;
                    }
                }
                .info {
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    background-color: $white;
                    padding: 8px 24px;
                    min-height: 95px;
                    position: relative;
                    transition: all 0.3s ease;
                    @include media("laptop") {
                        min-height: 114px;
                    }
                }
                &_link {
                    display: block;
                }
                &_name {
                    margin-top: 0;
                    margin-bottom: 12px;
                    font-size: 18px;
                    font-weight: bold;
                }
                &_position {
                    text-transform: capitalize;
                    font-size: 18px;
                    position: absolute;
                    bottom: 8px;
                    left: 0;
                    right: 0;
                    padding: 0 9px;
                    color: $black;
                }
            }
        }
        &__cta {
            color: $primary;
            display: inline-block;
            margin-top: 32px;
            border: 2px solid $primary;
            border-radius: 5px;
            padding: 8px 24px;
            font-weight: bold;
            font-size: 20px;
            transition: all 0.3s ease;
            width: 100%;
            @include media("tablet") {
                width: auto;
            }
            &:hover {
                background-color: $primary;
                color: $white;
            }
        }
    }

    .home-articles {
        background: transparent
            linear-gradient(294deg, #246db1 0%, #123759 100%) 0% 0% no-repeat
            padding-box;
        position: relative;
        width: 100vw;
        left: calc(50% - 50vw);
        padding: 24px 32px;
        display: grid;
        gap: 25px;
        color: $white;
        @include media("tablet") {
            padding: 48px;
            grid-template-columns: repeat(2, 1fr);
            gap: 25px 96px;
        }
        @include media("laptop") {
            align-items: center;
            padding: 130px 60px;
        }
        @include media("desktop") {
            padding: 130px 120px;
        }
        &__title {
            font-size: 38px;
            color: $white !important;
            font-weight: bold;
            margin-top: 0;
            @include media("tablet") {
                font-size: 42px;
            }
            @include media("laptop") {
                font-size: 55px;
            }
        }
        &__content {
            font-size: 18px;
        }
        &__ctas {
            margin-top: 42px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            @include media("tablet") {
                display: block;
            }
            .cta {
                display: inline-block;
                color: $white;
                background-color: $secondary;
                padding: 8px 24px;
                border: 2px solid $secondary;
                border-radius: 5px;
                margin-right: 24px;
                margin-bottom: 18px;
                font-weight: bold;
                font-size: 20px;
                transition: all 0.3s ease;
                width: 100%;
                text-align: center;
                &:hover {
                    background-color: darken($secondary, 10%);
                    border-color: darken($secondary, 10%);
                }
                @include media("tablet") {
                    padding: 8px 32px;
                    width: auto;
                }
                @include media("laptop") {
                    margin-bottom: 0;
                }
                &:nth-child(2) {
                    margin-right: 0;
                    background-color: transparent;
                    border-color: $white;
                    &:hover {
                        background-color: $white;
                        color: $black;
                    }
                }
            }
        }
        &__articles {
            display: grid;
            gap: 25px;
            padding-bottom: 32px;
            @include media("desktop") {
                grid-template-columns: repeat(2, 1fr);
            }
            .article-card {
                background-color: $white;
                position: relative;
                border-radius: 5px;
            }
            .article-header {
                padding: 0;

                .featured-image {
                    width: 100%;
                    max-width: 100%;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    @include media("desktop") {
                        width: auto;
                    }
                }
            }
            .article-content {
                padding: 12px 12px 45px;
                text-align: center;
                @include media("desktop") {
                    min-height: 170px;
                }
                .entry-title {
                    a {
                        font-size: 22px;
                    }
                }
                .byline {
                    font-size: 12px;
                    text-align: center;
                    color: $secondary;
                    margin-bottom: 0;
                    position: absolute;
                    bottom: 8px;
                    left: 0;
                    right: 0;
                    a {
                        color: inherit;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .home-connected {
        display: grid;
        @include media("tablet") {
            grid-template-columns: repeat(2, 1fr);
        }
        &__img {
            width: 100%;
            object-fit: cover;
            @include media("tablet") {
                height: 100%;
            }
        }
        // container for content, title, btns
        &__info {
            padding: 24px 32px;
            @include media("laptop") {
                padding: 52px 32px;
            }
            @include media("desktop") {
                padding: 82px 32px;
            }
        }
        &__title {
            font-size: 32px;
            font-weight: bold;
            color: $black !important;
            margin-top: 0;
            @include media("tablet") {
                font-size: 46px;
            }
            @include media("laptop") {
                font-size: 55px;
            }
        }
        &__content {
            font-size: 18px;
        }
        &__app {
            margin-top: 48px;
            @include media("tablet") {
                margin-top: 96px;
            }
        }
    }
}
