/****************************
Home Page Section
****************************/
.home {
    .banner {
        position: relative;
        overflow-x: hidden;
        width: 100vw;
        left: calc(50% - 50vw);

        &:before {
            display: none;
            position: absolute;
            content: "";
            background: transparent
                linear-gradient(229deg, #246db1 0%, #123759 100%) 0% 0%
                no-repeat padding-box;
            width: 100%;
            height: 100%;
            z-index: 2;
            transform: skew(-10deg, 0);
            transform-origin: top right;
            @include media("tablet") {
                display: block;
                width: 68%;
            }
            @include media("laptop") {
                width: 61%;
            }
        }
        &__img {
            position: relative;
            max-width: 125%;
            left: -75px;
            @include media("tablet") {
                position: absolute;
                width: 60%;
                height: 100%;
                object-fit: cover;
                top: 0;
                right: 0;
                left: unset;
                max-width: auto;
            }
        }
        &__content {
            position: relative;
            z-index: 3;
            color: $white;
            background: #20629f;
            margin-top: -100px;
            padding: 24px;
            &:before {
                position: absolute;
                content: "";
                top: -30px;
                left: -10%;
                width: 110%;
                height: 60px;
                transform: rotate(4deg);
                background: #20629f;
                @include media("tablet") {
                    display: none;
                    padding: 0;
                    margin: 0;
                }
            }
            @include media("tablet") {
                background: none;
                padding: 24px 48px;
                max-width: 60%;
                margin-top: 100px;
            }
            @include media("laptop") {
                margin-top: 177px;
                max-width: 55%;
            }
            @include media("desktop") {
                padding: 24px 120px;
            }
        }
        &__title {
            font-size: 45px;
            margin: 0;
            font-weight: 900;
            @include media("tablet") {
                font-size: 60px;
            }
            @include media("laptop") {
                font-size: 75px;
            }
            @include media("desktop") {
                font-size: 95px;
                line-height: 95px;
            }
        }
        &__sub-title {
            color: inherit !important;
            font-size: 24px;
            @include media("tablet") {
                font-size: 35px;
            }
            @include media("laptop") {
                font-size: 45px;
            }
            @include media("desktop") {
                font-size: 55px;
            }
        }
        @include media("tablet") {
            min-height: 450px;
        }
        @include media("laptop") {
            min-height: 948px;
        }
        &__ctas {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            @include media("tablet") {
                margin-top: 64px;
                flex-direction: row;
            }
        }
        &__btn {
            display: inline-block;
            padding: 12px;
            background-color: $secondary;
            color: $white;
            border: 2px solid $secondary;
            border-radius: 5px;
            font-size: 16px;
            margin-right: 24px;
            font-weight: 700;
            transition: all 0.4s ease;
            width: 100%;
            margin-bottom: 24px;
            text-align: center;
            &:hover {
                background-color: transparent;
            }
            @include media("tablet") {
                width: auto;
                font-size: 20px;
                margin-bottom: 0;
                padding: 8px 32px;
            }
            @include media("laptop") {
                padding: 8px 45px;
            }
            &:nth-child(2) {
                background-color: transparent;
                border-color: $white;
                margin-right: 0;
                &:hover {
                    background-color: $white;
                    color: $black;
                }
            }
            &.has-arrow {
                position: relative;
                span {
                    position: relative;
                    left: 0;
                    transition: all 0.4s ease;
                }
                i {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 30%;
                    margin: auto;
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    transition: all 0.4s ease;
                }
                &:hover {
                    span {
                        left: -12px;
                    }
                    i {
                        right: 10%;
                        opacity: 1;
                    }
                }
            }
        }
    }
    // Section 2
    .home-values {
        text-align: center;
        background-color: #f9fafc;
        position: relative;
        width: 100vw;
        left: calc(50% - 50vw);
        padding: 24px;
        @include media("tablet") {
            padding: 24px 48px 85px;
        }
        &__title {
            font-size: 32px;
            color: $black !important;
            font-weight: bold;
            @include media("tablet") {
                font-size: 48px;
                margin: 24px 0;
            }
        }
        &__content {
            font-size: 16px;
            @include media("tablet") {
                font-size: 18px;
                max-width: 753px;
                margin: auto;
            }
        }
        &__rows {
            gap: 25px;
            margin-top: 24px;
            grid-template-columns: 1fr;
            @include media("tablet") {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 48px;
            }
            @include media("desktop") {
                grid-template-columns: repeat(4, 1fr);
            }
            .value {
                border: 2px dotted $primary;
                background-color: $white;
                max-width: 334px;
                margin: auto;
                padding: 24px;
                @include media("tablet") {
                    padding: 42px;
                }
                i {
                    font-size: 80px;
                    color: $primary;
                }
                &-title {
                    font-size: 24px;
                    font-weight: bold;
                }
                &-content {
                    font-size: 18px;
                }
            }
        }
    }

    .section-3 {
        border-top: 30px solid $secondary;
        padding-top: 4rem;
        padding-bottom: 3rem;
        background-color: #f5f5f5;
        .item {
            position: relative;
            padding: 1rem 2rem 4rem;
            .cta {
                display: block;
                border: 2px solid $primary;
                color: $primary;
                font-size: 25px;
                text-transform: capitalize;
                text-align: center;
                padding: 1rem;
            }

            .content {
                text-align: center;
                margin-top: 1rem;
                font-size: 16px;
            }
            .btn-container {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                display: block;
                text-align: center;
                margin-top: 1rem;
                .btn {
                    background-color: $primary;
                    border: 2px solid $primary;
                    padding: 8px 1rem;
                    border-radius: 0;
                    color: $white;
                    text-transform: capitalize;
                    font-weight: bold;
                    font-size: 16px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        background-color: $secondary;
                        border-color: $secondary;
                    }
                }
            }
            &:nth-child(even) {
                .btn {
                    background-color: $secondary;
                    border-color: $secondary;
                    &:hover {
                        background-color: $primary;
                        border-color: $primary;
                    }
                }
                .cta {
                    border-color: $secondary;
                    color: $secondary;
                    @include media("tablet") {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .section-4 {
        margin-top: 3rem;
        .content {
            @include media("tablet") {
                padding-right: 2rem;
            }
            .title {
                color: $secondary;
                font-size: 35px;
                @include media("tablet") {
                    font-size: 45px;
                }
                @include media("laptop") {
                    font-size: 55px;
                }
            }
            .text {
                font-size: 16px;
                @include media("tablet") {
                    font-size: 18px;
                }
                @include media("laptop") {
                    font-size: 22px;
                }
            }
        }
        .video {
            position: relative;
            min-height: 400px;
            @include media("tablet") {
                min-height: 550px;
            }
            .yt-video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .placeholder {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                z-index: 9;
                &:hover {
                    cursor: pointer;
                    &:before {
                        background-color: rgba(0, 0, 0, 0.6);
                    }
                }
                &:before {
                    transition: all 0.5s ease-in-out;
                    position: absolute;
                    content: "\f144";
                    font-family: "Font Awesome 5 Free";
                    z-index: 99;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    font-size: 6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $primary;
                }
            }
            .fadeOut {
                animation-name: fadeOut;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
            @keyframes fadeOut {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }
    }

    .section-5 {
        margin-top: 3rem;
        padding: 1rem 0 2rem;
        border-top: 30px solid $secondary;
        background-color: #f5f5f5;
        .content {
            padding: 0 1rem;
            .title {
                color: $primary;
            }
        }
        .aside {
            padding: 0 1rem;
            .aside-title {
                color: $secondary;
            }
            .aside-text {
                ul li {
                    &:before {
                        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
                        color: $secondary;
                        display: inline-block; /* Needed to add space between the bullet and the text */
                        width: 1em;
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
                a {
                    color: $secondary;
                }
            }
        }
    }

    .section-6 {
        border-top: 30px solid $secondary;
        padding-top: 1rem;
        padding-bottom: 2rem;
        .content {
            .title {
                color: $primary;
            }
            .btn-container {
                text-align: center;
                margin-top: 2rem;
                .btn {
                    background-color: $secondary;
                    border: 2px solid $secondary;
                    color: $white;
                    border-radius: 0;
                    text-transform: capitalize;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}
