.page-template-page-service-2 {
    .section-1,
    .section-2 {
        a {
            color: $white;
            background-color: $secondary;
            padding: 8px 2rem;
            display: inline-block;
            margin-top: 1rem;
            border: 2px solid $secondary;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: transparent;
                color: $secondary;
            }
        }
    }
    .section-values {
        .home-values {
            text-align: center;
            background-color: #f9fafc;
            position: relative;
            width: 100vw;
            left: calc(50% - 50vw);
            padding: 24px;
            @include media("tablet") {
                padding: 24px 48px 32px;
            }
            &__title {
                font-size: 32px;
                color: $black !important;
                font-weight: bold;
                @include media("tablet") {
                    font-size: 48px;
                    margin: 24px 0;
                    margin-top: 0;
                }
            }
            &__content {
                font-size: 16px;
                text-align: center;
                @include media("tablet") {
                    font-size: 25px;
                    max-width: 1050px;
                    margin: auto;
                    .home & {
                        font-size: 18px;
                        max-width: 753px;
                        margin: auto;
                    }
                }
            }
            &__rows {
                gap: 25px;
                margin: 24px 0;
                grid-template-columns: 1fr;
                @include media("tablet") {
                    grid-template-columns: repeat(2, 1fr);
                    margin-top: 48px;
                }
                @include media("desktop") {
                    grid-template-columns: repeat(4, 1fr);
                }
                .value {
                    text-align: center;
                    position: relative;
                    display: block;
                    border: 2px dotted $primary;
                    background-color: $white;
                    margin: auto;
                    padding: 24px;
                    height: 100%;
                    transition: all 0.3s ease;
                    border-radius: 5px;
                    width: 100%;
                    @include media("tablet") {
                        padding: 42px;
                        max-width: 400px;
                    }
                    &:hover {
                        // border-style: solid;
                        // cursor: pointer;
                        span {
                            opacity: 1;
                        }
                    }
                    &-img {
                        max-width: 100%;
                    }
                    &-title {
                        font-size: 24px;
                        font-weight: bold;
                        color: $black;
                        min-height: 52px;
                    }
                    &-content {
                        display: none;
                    }

                    .btn {
                        margin-top: 24px;
                        background-color: $secondary;
                        color: $white;
                        text-transform: uppercase;
                        border: 2px solid $secondary;
                        font-weight: bold;
                        transition: all 0.3s ease;
                        &:hover {
                            background-color: transparent;
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }

    .alt-container {
        flex-direction: row-reverse;
        background-color: #f5f5f5;
        .content {
            padding-left: 1rem;
            padding-right: 0;
        }
        .aside {
            img {
                object-position: left;
            }
        }
    }

    .service-popup-container {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.5);
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .service-popup-inner {
            position: relative;
            background-color: $white;
            max-width: 750px;
            max-height: 80%;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0 24px 18px;
            border-radius: 5px;
            &.shadow {
                box-shadow: inset 0 -60px 40px -35px rgb(0, 0, 0);
            }
            @include media("tablet") {
                max-height: 70%;
            }
            @include media("desktop") {
                height: 85%;
            }
        }

        // Close popup
        .close-popup {
            position: absolute;
            top: 20px;
            right: 10px;
            z-index: 100;
            font-size: 30px;
            color: $primary;
            cursor: pointer;
            @media (min-width: 1180px) {
                top: 10px;
            }
        }
        // service content styles
        .value-img {
            max-width: 100%;
            display: block;
            margin: 24px auto;
        }
        .value-title {
            margin-bottom: 18px;
            color: $blue;
            font-weight: bold;
            @include media("tablet") {
                font-size: 2.25em;
            }
        }
        .value-content {
            display: block;
            padding: 12px 0;
            @include media("tablet") {
                font-size: 16px;
            }
            h3,
            h4 {
                @include media("tablet") {
                    font-size: 26px;
                }
            }
        }
        .btn {
            display: none;
        }
    }
}
