// Video comms page
.page-id-3928 {
    iframe {
        max-width: 100%;
    }

    .categories {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 24px auto;
        text-align: center;
        .link {
            display: block;
            padding: 12px 24px;
            &.active {
                .cat-title {
                    color: $primary;
                }
            }
            .cat-icon {
                max-width: 45px;
                height: auto;
            }
            .cat-icon-i {
                font-size: 45px;
                color: #949494;
            }
            .cat-title {
                font-weight: bold;
                color: $secondary;
                transition: all 0.3s ease;
            }
            &:hover {
                .cat-title {
                    color: $primary;
                }
            }
        }
    }
}

.single-video_commentaries {
    .video-single {
        margin: 32px 0;
        .grid {
            display: grid;
            gap: 25px;
            @include media("laptop") {
                grid-template-columns: 2fr 1fr;
                gap: 50px 75px;
                .video {
                    text-align: left;
                }
            }
            @include media("desktop") {
                grid-template-columns: 3fr 1fr;
                gap: 50px;
            }
        }
        .video {
            text-align: center;
            margin-top: 32px;
            iframe {
                max-width: 100%;
            }
        }
        .date {
            color: $black;
            text-transform: capitalize;
            font-size: 16px;
            margin-top: -80px;
            margin-bottom: 40px;
            @include bp(phablet) {
                margin-top: -20px;
            }
            @include bp(tablet) {
                margin-top: -10px;
            }
            @include bp(laptop) {
                margin-top: -40px;
                margin-bottom: 60px;
            }
            @include bp(desktop) {
                margin-top: -20px;
            }
        }
        .content {
            margin: 16px 0;
            font-size: 16px;
            color: $black;
            h4 {
                font-family: $poppins;
                color: $black;
                @include bp(laptop) {
                    font-size: 26px;
                }
            }
        }
        .related-videos {
            &__single {
                box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.24);
                margin: 16px 0;
                border-radius: 5px;
                .article-header {
                    padding: 0;
                    .entry-title {
                        margin-bottom: 18px;
                    }
                }
                &:first-child {
                    margin-top: 0;
                }
                img {
                    max-width: 100%;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                }
            }
            &__content {
                padding: 1.5rem;
            }
        }
    }
}

.page-template-page-videos {
    .video-commentaries {
        display: grid;
        grid-gap: 25px;
        margin: 32px auto;
        padding: 0 16px;
        max-width: 1500px;
        @include media("tablet") {
            grid-template-columns: repeat(2, 1fr);
        }
        @include media("laptop") {
            grid-template-columns: repeat(3, 1fr);
        }
        .video-commentary {
            box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.24);
            border-radius: 5px;
            .video-header {
                padding: 0;
            }
            .featured-image-container {
                position: relative;
            }
            .video-image {
                width: 100%;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }
            .overlay {
                transition: all 0.4s ease-in-out;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.8);
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                i {
                    color: $secondary;
                    font-size: 35px;
                }
            }
            .entry-title {
                margin-top: 1rem;
                text-align: center;
                padding: 0 1rem;
                a {
                    color: lighten($primary, 10%);
                }
            }
            .byline {
                margin: 8px 0;
                padding: 0 1rem;
                text-align: center;
                color: $secondary;
                a {
                    color: $secondary;
                }
            }
            .excerpt-content {
                padding: 8px 1rem;
                font-size: 16px;
                a {
                    color: $black;
                }
            }
            &:hover {
                .overlay {
                    opacity: 1;
                }
            }
        }
        .pagination {
            grid-column: 1/3;
            .page-numbers {
                border: 2px solid $secondary;
                li {
                    color: $primary;
                    a,
                    span {
                        display: inline-block;
                        border: none;
                        color: inherit;
                        padding: 10px 14px;
                        transition: all 0.3s ease;
                    }
                    a {
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
