/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 990px;
}

.large-wrapper {
  width: 80%;
}

/*********************
Global Section
*********************/

h2.title,
h2.aside-title {
  font-size: 55px;
}
.content,
.aside {
  .text,
  .aside-text {
    font-size: 20px;
  }
}

/****************************
Home Page Section
****************************/
.home {
  .hero {
    .slide {
      min-height: 600px;
      .slide-title {
        font-size: 65px;
      }
      .slide-text {
        font-size: 20px;
      }
      .slide-link {
        font-size: 20px;
      }
    }
  }
  .section-2 {
    .content {
      padding-right: 8rem;
      h1 {
        font-size: 55px;
      }
    }
  }
  .section-4 {
    .content {
      .title {
        font-size: 55px;
      }
      .text {
        font-size: 22px;
      }
    }
  }
}

/****************************
Service Pages Section
****************************/
.service {
  .content {
    .title {
      font-size: 45px;
    }
  }
  .section-2 {
    .alternating {
      .alt-container {
        .content {
          width: 65%;
        }
        .aside {
          width: 35%;
        }
      }
    }
  }
}

/****************************
Partials Section
****************************/
.hero {
  .title {
    font-size: 55px;
  }
}

.hero-large {
  .title {
    font-size: 50px;
  }
}
