/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 990px;
}

.large-wrapper {
  width: 80%;
}

/*********************
Global Section
*********************/

h2.title,
h2.aside-title {
  font-size: 55px;
}
.content,
.aside {
  .text,
  .aside-text {
    font-size: 20px;
  }
}

/****************************
HeaderSection
****************************/
.top-header {
  .top-header-grid {
    justify-content: center;
  }
  .search-field {
    grid-column: 3;
  }
  .info {
    grid-column: 1;
    grid-row: 1;
    a {
      font-size: 20px;
    }
  }
  .header-message {
    grid-row: 1;
    grid-column: 2;
    padding-right: 10px;
    align-self: center;
    a {
      font-size: 20px;
    }
  }
  .socials {
    text-align: right;
    grid-row: 1;
    grid-column: 2;
  }
}

.header-bottom {
  &.mb-lg {
    margin-top: 125px;
    @media (min-width: 1181px) {
      margin-top: 135px;
    }
  }
}

/*********************
Header section
*********************/

.top-header {
  .info {
    a {
      font-size: 20px;
    }
  }
}

/*********************
Navigation Section
*********************/

.nav {
  padding-left: 0.5rem;
}

/****************************
Home Page Section
****************************/
.home {
  .hero {
    .slide {
      min-height: 600px;
      .slide-title {
        font-size: 65px;
      }
      .slide-text {
        font-size: 20px;
      }
      .slide-link {
        font-size: 20px;
      }
    }
  }
  .section-2 {
    .content {
      padding-right: 8rem;
      h1 {
        font-size: 55px;
      }
    }
  }
  .section-4 {
    .content {
      .title {
        font-size: 55px;
      }
      .text {
        font-size: 22px;
      }
    }
  }
}

/****************************
Internal Pages Section
****************************/
.service {
  .content {
    .title {
      font-size: 45px;
    }
  }
}

// contact page
.contact {
  .title,
  .aside-title {
    font-size: 45px;
  }
  .aside {
    .grid-50 {
      grid-template-columns: 1fr 1fr;
    }
  }
}

// Landing pages
.page-template-page-landing-marketing {
  // hero
  .hero-landing-page {
    .left {
      padding-left: 2rem;
      .content {
        h1,
        h2,
        h3,
        h4 {
          font-size: 45px;
        }
        p {
          font-size: 22px;
        }
      }
    }
    .right {
      padding: 2rem 2rem 2rem 1rem;
      .title {
        font-size: 60px;
      }
      .form {
        // max-width: 80%;
      }
    }
  }
  // Page content
  .landing-page-section-content {
    .title {
      font-size: 45px;
    }
    .content {
      font-size: 17px;
    }

    &.s2 {
      .subtitle {
        font-size: 22px;
      }
      .repeater {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

/****************************
Singles Section
****************************/
.team {
  .text {
    font-size: 22px;
  }
}

/****************************
Partials Section
****************************/
.hero {
  .title {
    font-size: 55px;
  }
  .text {
    font-size: 25px;
    margin-top: 3rem;
  }
  &.three-part {
    background-size: 130% 100%;
    .title {
      top: 30px;
      font-size: 40px;
      max-width: 700px;
      right: 17%;
    }
    // logo
    .logo {
      bottom: 50px;
      img {
        max-width: 350px;
      }
    }
  }
}

.hero-large {
  .title {
    font-size: 50px;
  }
}

.alternating {
  .alt-container {
    .content {
      width: 65%;
    }
    .aside {
      width: 35%;
    }
    .page-id-520 & {
      &:last-child {
        .content {
          width: 55%;
        }
        .aside {
          width: 45%;
        }
      }
    }
    .page-id-1771 & {
      &:nth-child(2) {
        .title,
        h2 {
          font-size: 55px;
        }
      }
    }
  }
}

// This is Team.php - have a CPT with the name Team already
.team-members {
  .team-grid {
    max-width: 1200px;
  }
}

/****************************
Blog Section
****************************/
.blog-header {
  .title {
    font-size: 55px;
  }
}

.blog {
  .categories {
    .category {
      width: 25%;
    }
  }
}

// Singles - posts
.single-post {
  .article-header {
    .header {
      &__grid {
        max-width: 1024px;
        grid-template-columns: 1.5fr 1fr;
      }
      &__info {
        .single-title {
          font-size: 35px;
        }
      }
    }
  }
  .entry-content {
    .post-grid {
      grid-template-columns: 2fr 1fr;
    }
  }
}
/****************************
Custom Post Types Section
****************************/

.firm-template-page-secured {
  .law-firm {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/****************************
Footer Section
****************************/
.footer {
  // inner footer content
  .content {
    .title {
      font-size: 45px;
    }
  }
  // Newsletter in the footer
  .newsletter-section {
    #gform_wrapper_4 {
      // actual form element
      #gform_4 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
      // submit button
      .gform_footer {
        max-width: 250px;
        text-align: center;
        padding: 0;
      }
    }
  }
}
