/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  width: 1140px;
}
.large-wrapper {
  width: 75%;
}

/****************************
Service Pages Section
****************************/
.service {
  .section-2 {
    .grid_three {
      .item {
        max-width: 416px;
      }
    }
  }
}
