/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  width: 1140px;
}
.large-wrapper {
  width: 75%;
}

/****************************
Internal Pages Section
****************************/
.service {
  .section-2 {
    .grid_three {
      .item {
        max-width: 416px;
      }
    }
  }
}

.landing-page {
  .page-content {
    .aside-text {
      flex-wrap: nowrap;
    }
  }
}

// Landing pages
.page-template-page-landing-marketing {
  // hero
  .hero-landing-page {
    .right {
      .form {
        // max-width: 70%;
      }
    }
  }
}

/****************************
Partials Section
****************************/
.hero {
  &.three-part {
    .title {
      font-size: 45px;
      right: 12%;
      top: 30px;
    }
    .logo {
      bottom: 60px;
      img {
        max-width: 450px;
      }
    }
  }
}
