/****************************
Partials Section
****************************/
.hero {
  &.three-part {
    .title {
      font-size: 45px;
      right: 19%;
    }
  }
}

/****************************
Pages Section
****************************/
.contact {
  #gform_wrapper_4 {
    // actual form element
    #gform_4 {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    // submit button
    .gform_footer {
      max-width: 250px;
      text-align: center;
      padding: 0;
    }
  }
}
