/****************************
Header Section
****************************/
.top-header {
  .top-header-grid {
    flex-direction: row-reverse;
    .header-message {
      margin-left: 10px;
      order: 1;
      margin-top: 0;
      .text {
        white-space: normal;
        font-size: 15px;
      }
    }
    .info {
      order: 2;
    }
  }
}
.header-bottom {
  margin-top: 120px;
  &.mb-lg {
    margin-top: 170px;
  }
}

/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */
  .alignleft,
  img.alignleft {
    margin-right: 1.5em;
    display: inline;
  }
  .alignright,
  img.alignright {
    margin-left: 1.5em;
    display: inline;
  }
  .aligncenter,
  img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
} /* end .entry-content */

/****************************
Partials Section
****************************/

.form-container {
  position: relative;
  input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  button {
    position: absolute;
    top: 0;
    right: 1rem;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: auto;
    margin-top: 0;
  }
}

.hero {
  &.three-part {
    min-height: 250px;
    background-size: 215% 100%;
    .title {
      position: absolute;
      left: auto;
      top: 35px;
      font-size: 35px;
      right: 13%;
      margin: auto;
      background: none;
    }
    // logo
    .logo {
      left: 10px;
      bottom: 15px;
      img {
        max-width: 250px;
      }
    }
  }
}

/****************************
Internal Pages Section
****************************/
.page-template-default {
  .hotlinks {
    .hotlink {
      width: 50%;
      .link {
        font-size: 18px;
      }
      &:first-child {
        width: 100%;
      }
    }
  }
  .hotlinks-trust-solution {
    .hotlink,
    .hotlink:first-child {
      width: 50%;
    }
  }
  .app-locations {
    .app-dl {
      margin: 0 3rem 0 0;
    }
  }
}

// Landing pages
.page-template-page-landing-marketing {
  // Page content
  .landing-page-section-content {
    &.s2 {
      .repeater {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
