/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  width: 760px;
}

.large-wrapper {
  width: 85%;
}

/*********************
SIDEBARS & ASIDES
*********************/

.widget {
  padding: 0 10px;
  margin: 2.2em 0;
  ul {
    li {
      margin-bottom: 0.75em;

      /* deep nesting */
      ul {
        margin-top: 0.75em;
        padding-left: 1em;
      }
    }
  }
}

/****************************
HeaderSection
****************************/
.top-header {
  text-align: inherit;
  .socials {
    text-align: right;
  }
}

.header-bottom {
  text-align: inherit;

  .header-right {
    justify-content: flex-end;
  }
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
  border: 0;
  ul {
    background: none;
    margin-top: 0;
  }
  li {
    display: inline-block;
    a {
      &:hover,
      &:focus {
      }
    }
    &:first-child {
    }
    &:last-child {
    }
    /*
		plan your menus and drop-downs wisely.
		*/
    ul.sub-menu,
    ul.children {
      margin-top: 0;
      border-top: 3px solid $secondary;
      position: absolute;
      visibility: hidden;
      z-index: 8999;
      background-color: $white;
      li {
        a {
          padding-left: 10px;
          border-right: 0;
          width: 180px;
          &:hover,
          &:focus {
          }
          &:link {
          }
        }
        &:first-child {
        }
        &:last-child {
          a {
            border-bottom: 0;
          }
        }
        /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
        ul {
          top: 0;
          left: 100%;
        }
      }
      /* highlight sub-menu current page */
      li.current-menu-item,
      li.current_page_item,
      li.current_page_ancestor {
        a {
        }
      }
    }
    /* showing sub-menus */
    &:hover > ul {
      top: auto;
      visibility: visible;
    }
  }
  /* end .menu ul li */
  /* highlight current page */
  li.current-menu-item,
  li.current_page_item,
  li.current_page_ancestor {
    a {
    }
  }
  /* end current highlighters */
}

/* end .nav */

/****************************
Home Page Section
****************************/
.home {
  .hero {
    .slide {
      min-height: 500px;
      .slide-title {
        font-size: 45px;
      }
      .slide-text {
        font-size: 18px;
      }
      .slide-link {
        font-size: 18px;
      }
    }
  }
  .section-2 {
    .content {
      padding-right: 4rem;
      h1 {
        font-size: 45px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  .section-3 {
    .item {
      .cta {
        font-size: 30px;
      }
    }
  }
}

/****************************
Sidebar Section
****************************/

.sidebar {
  margin: 0;
}
