/****************************
Internal Pages Section
****************************/
.service {
  .section-2 {
    .grid_three {
      .first-third {
        align-items: flex-start;
      }
      .mid-third {
        margin: 0;
      }
      .last-third {
        align-items: flex-end;
      }
      .item {
        margin-bottom: 4rem;
      }
    }
  }
}

/****************************
Partials Section
****************************/
.alternating {
  .alt-container {
    padding: 3rem 5rem;
    .content {
      width: 50%;
      padding-bottom: 0;
      padding-right: 3rem;
    }
    .aside {
      width: 50%;
      text-align: right;
    }
  }
}

/****************************
Blog Section
****************************/
.blog {
  .post-card {
    .featured-image {
      min-height: 420px;
    }
  }
}
